---
---

$red: #DB4641;
$green: #90CDC1;
$grey: #444;
$pink: #DA9DBA;
$purple: #4B3171;
$black: #1A1919;
$orange: #D69D89;
$hot-pink: #CA528F;
$blue: #0074E8;

body {
}

a {
  color: $blue;
  text-decoration: underline;
}

.main-title {
  background: $orange;
  text-align: center;
  font-family: 'Lato', sans-serif;
  font-weight: 900;
  font-size: 3vw;
  color: $black;
  overflow: hidden;
  h1 {
    margin: 0;
  }
  p {
    margin: 0;
  }
}

.title-2019 {
  width: 30vw;
  margin-bottom: 0;
  max-width: 250px;
}

.hands-container {
  background: $orange;
  color: $black;
  text-align: center;
  width: 100%;
}
.cta {
  padding: 5px 0;
  text-align: center;
  font-size: 1.2em;
  background: $purple;
  color: #fff;
  a {
    color: #fff;
    text-decoration: none;
  }
}

.cta.footer {
  background: $orange;
  color: $black;
  a { color: $black; }
}

.logo {
  width: 100%;
  max-width: 1100px;
}

.hands {
  width: 100%;
  max-width: 400px;
}

.intro {
  font-family: 'Lato', sans-serif;
}

.section {
  margin: 30px 0;
  h2 {
    font-family: 'Open Sans', sans-serif;
    padding: 15px;
    background-color: $green;
    // box-shadow: 5px 10px $orange;
    color: $black;
    font-size: 1.5em;
    text-align: center;
    margin: 30px 0;
  }
}

.section.green h2 {
  color: $black;
  background-color: $orange;
  // box-shadow: 5px 10px $green;
}

.flyer {
  img {
    border: 2px solid #333;
    width: 100%;
  }
}

.whatsapp-table {

  margin: 30px 0;

  h3 {
    font-size: 1.2em;
  }
  table {
    width: 100%;
  }

  table, tr, th, td {
    border: 1px solid #acacac;
  }

  th, td {
    padding: 5px 15px;
    width: 50%;
  }
}

.video {
  text-align: center;
}

.site-menu {
  font-weight: bold;
  margin-top: 0;
  background: $green;
  padding: 5px 0;
  text-transform: uppercase;
  font-family: 'Lato', sans-serif;
  font-size: 0.8em;
  a { color: $black; text-decoration: none; }
  a:hover { text-decoration: underline; color: #000; }
}

.important {
  background: $green;
  padding: 15px;
  font-style: italic;
}
