---
---

$red: #DB4641;
$green: #90CDC1;
$grey: #444;
$pink: #DA9DBA;
$purple: #562A79;
$black: #1A1919;
$orange: #EC9681;
$hot-pink: #CA528F;
$blue: #0074E8;

body {
}

a {
  color: $blue;
  text-decoration: underline;
}

.red {
  color: #fff;
}

.main-title {
  background: #fff;
  text-align: center;
  font-family: 'Lato', sans-serif;
  font-weight: 900;
  font-size: 1.5em;
  color: $black;
  overflow: hidden;
}

.cta {
  padding: 5px 0;
  text-align: center;
  background: $green;
  color: $black;
  font-size: 1.2em;
  a {
    color: $black;
    text-decoration: none;
  }
}

.cta.footer {
  background: #dadada;
}

.logo {
  width: 100%;
}

.hands {
  width: 100%;
  max-width: 400px;
}

.intro {
  font-family: 'Lato', sans-serif;
}

.section {
  margin: 30px 0;
  h2 {
    font-family: 'Open Sans', sans-serif;
    padding: 15px;
    background-color: $green;
    box-shadow: 5px 10px $pink;
    color: $black;
    font-size: 1.5em;
    text-align: center;
    margin: 30px 0;
  }
}

.section.green h2 {
  color: $black;
  background-color: $pink;
  box-shadow: 5px 10px $green;
}

.flyer {
  img {
    border: 2px solid #333;
    width: 100%;
  }
}

.whatsapp-table {

  margin: 30px 0;

  h3 {
    font-size: 1.2em;
  }
  table {
    width: 100%;
  }

  table, tr, th, td {
    border: 1px solid #acacac;
  }

  th, td {
    padding: 5px 15px;
    width: 50%;
  }
}

.video {
  text-align: center;
}

.site-menu {
  margin-top: 0;
  background: $pink;
  padding: 5px 0;
  text-transform: uppercase;
  font-family: 'Lato', sans-serif;
  font-size: 0.8em;
  a { color: $black; text-decoration: none; }
  a:hover { text-decoration: underline; color: #000; }
}
