<!DOCTYPE html>
<html>

  <head>
    <meta charSet="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="#YouthVoteUK2019" />
    <meta name="author" content="Russell Dunphy" />
    <title>#YouthVoteUK2019</title>

    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" type="text/css" rel="stylesheet" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossOrigin="anonymous" />
    <link href="/style.css" rel="stylesheet" type="text/css" />

    <meta name="referrer" content="same-origin"/>

    <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet" />


  </head>

  <body>

    <div class="red">
      <div class="container-fluid">
        <div class="main-title">
          <h1>#YouthVoteUK2019</h1>
          <p>DECEMBER 12TH</p>
          <img class="logo" src="/assets/logo.png" />
        </div>
      </div>
    </div>
    <div class="cta">
      <div>
        <a href="https://www.gov.uk/register-to-vote" target="_blank">
          <small><strong>REGISTER TO VOTE BY NOV 26TH</strong></small>
        </a>
      </div>
      <div>
        <a href="https://www.gov.uk/register-to-vote" target="_blank">
          <small><strong>www.gov.uk/register-to-vote</strong></small>
        </a>
      </div>
    </div>

    <ul class="list-inline text-center mt-2 mb-2">
      <li class="list-inline-item">
        <a href="/">Home</a>
      </li>
      <li class="list-inline-item">
        <a href="/contact-us">Contact Us</a>
      </li>
      <li class="list-inline-item">
        <a href="/ideas-for-teachers">Ideas for teachers</a>
      </li>
    </ul>
    <div class="container">
      {{ content }}
    </div>

    <div class="cta pb-4 pt-4">
      <div>
        <a href="https://www.gov.uk/register-to-vote" target="_blank">
          <small><strong>REGISTER TO VOTE BY NOV 26TH</strong></small>
        </a>
      </div>
      <div>
        <a href="https://www.gov.uk/register-to-vote" target="_blank">
          <small><strong>www.gov.uk/register-to-vote</strong></small>
        </a>
      </div>
    </div>
  </body>
</html>


