---
layout: default
---

<div class="main-title">
  <div class="container-fluid">
    <h1><img alt="Youth Vote UK 2019" class="logo" src="/assets/new-logo-colourized.png" /></h1>
    <p><img alt="Youth Vote UK 2019" class="title-2019" src="/assets/2019.png" /></p>
    <img alt="Raised hands holding ballot papers" class="hands" src="/assets/logo-colourized.png" />
  </div>
</div>
<div class="cta">
  <div>
    <a href="https://www.gov.uk/register-to-vote" target="_blank">
      <small><strong>REGISTER TO VOTE BY NOV 26TH</strong></small>
    </a>
  </div>
  <div>
    <a href="https://www.gov.uk/register-to-vote" target="_blank">
      <small><strong>www.gov.uk/register-to-vote</strong></small>
    </a>
  </div>
</div>

<ul class="site-menu list-inline text-center">
  <li class="list-inline-item">
    <a href="/">Home</a>
  </li>
  <li class="list-inline-item">
    <a href="/contact-us">Contact Us</a>
  </li>
  <li class="list-inline-item">
    <a href="/join-your-local-group">Join your local group</a>
  </li>
  <li class="list-inline-item">
    <a href="/ideas-for-teachers">Ideas for teachers</a>
  </li>
</ul>
<div class="container">
  {{ content }}
</div>

<div class="cta footer pb-4 pt-4">
  <div>
    <a href="https://www.gov.uk/register-to-vote" target="_blank">
      <small><strong>REGISTER TO VOTE BY NOV 26TH</strong></small>
    </a>
  </div>
  <div>
    <a href="https://www.gov.uk/register-to-vote" target="_blank">
      <small><strong>www.gov.uk/register-to-vote</strong></small>
    </a>
  </div>
</div>
