---
layout: default
---

<div class="main-title">
  <div class="container-fluid">
    <h1><img alt="Youth Vote UK 2019" class="logo" src="/assets/new-logo-colourized.png" /></h1>
    <p><img alt="Youth Vote UK 2019" class="title-2019" src="/assets/2019.png" /></p>
  </div>
</div>
<div class="cta">
  <strong>GET THE YOUTH VOTE OUT! - THURSDAY DECEMBER 12TH</strong>
</div>

<ul class="site-menu list-inline text-center">
  <li class="list-inline-item">
    <a href="/">Home</a>
  </li>
  <li class="list-inline-item">
    <a href="/contact-us">Contact Us</a>
  </li>
  <li class="list-inline-item">
    <a href="/join-your-local-group">Join your local group</a>
  </li>
</ul>
<div class="container">
  {{ content }}
</div>

<div class="cta footer pb-4 pt-4">
  <div>
      <strong>GET THE YOUTH VOTE OUT! - THURSDAY DECEMBER 12TH</strong>
  </div>
</div>
